################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProjectEulerSolutions/obj/Debug/
/ProjectEulerSolutions/bin/Debug/
/.vs/ProjectEulerSolutions/
